[user]
    name = bendo
    email = zdeno.osina@gmail.com
[core]
    editor = vim
[push]
    default = simple
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[pull]
    rebase = true
[log]
    date = local
[diff]
    tool = meld
[merge]
    tool = meld
