[user]
    name = bendo
    email = zdeno.osina@gmail.com
[core]
    editor = vim
[push]
    default = simple
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    hist = log --pretty=format:'%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s'
    graph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[pull]
    rebase = true
[log]
    date = local
[diff]
    tool = meld
[merge]
    tool = meld
[init]
    defaultBranch = main
